.vscode/sftp.json
premium-files/includes/freemius/languages/freemius-it_IT.po
premium-files/includes/freemius/languages/freemius-ja_JP.mo
premium-files/includes/freemius/languages/freemius-ja_JP.po
premium-files/includes/freemius/languages/freemius-nl_NL.po
premium-files/includes/freemius/languages/freemius-ru_RU.po
premium-files/includes/freemius/templates/all-admin-notice.php
premium-files/includes/freemius/templates/checkout-legacy.php
premium-files/includes/freemius/languages/freemius-da_DK.po
premium-files/includes/freemius/languages/freemius-en.po
premium-files/includes/freemius/languages/freemius-es_ES.po
premium-files/includes/freemius/languages/freemius-fr_FR.po
premium-files/includes/freemius/languages/freemius-he_IL.po
premium-files/includes/freemius/languages/freemius-hu_HU.po
premium-files/includes/freemius/assets/scss/admin/debug.scss
premium-files/includes/freemius/assets/scss/admin/dialog-boxes.css
premium-files/includes/freemius/assets/scss/admin/dialog-boxes.css.map
premium-files/includes/freemius/assets/scss/admin/dialog-boxes.scss
premium-files/includes/freemius/assets/scss/admin/gdpr-optin-notice.css
premium-files/includes/freemius/assets/scss/admin/gdpr-optin-notice.css.map
premium-files/includes/freemius/assets/scss/admin/gdpr-optin-notice.scss
premium-files/includes/freemius/assets/scss/admin/index.php
premium-files/includes/freemius/assets/scss/admin/common.css
premium-files/includes/freemius/assets/scss/admin/common.css.map
premium-files/includes/freemius/assets/scss/admin/common.scss
premium-files/includes/freemius/assets/scss/admin/connect.css
premium-files/includes/freemius/assets/scss/admin/connect.css.map
premium-files/includes/freemius/assets/scss/admin/connect.scss
premium-files/includes/freemius/assets/scss/admin/debug.css
premium-files/includes/freemius/assets/scss/admin/debug.css.map
premium-files/includes/freemius/assets/scss/admin/add-ons.css.map
premium-files/includes/freemius/assets/scss/admin/add-ons.scss
premium-files/includes/freemius/assets/scss/admin/affiliation.css
premium-files/includes/freemius/assets/scss/admin/affiliation.css.map
premium-files/includes/freemius/assets/scss/admin/affiliation.scss
premium-files/includes/freemius/assets/scss/admin/checkout.css
premium-files/includes/freemius/assets/scss/admin/checkout.css.map
premium-files/includes/freemius/assets/scss/admin/checkout.scss
premium-files/includes/freemius/assets/scss/admin/_plugin-upgrade-notice.scss
premium-files/includes/freemius/assets/scss/admin/_subscription-cancellation.scss
premium-files/includes/freemius/assets/scss/admin/_themes.scss
premium-files/includes/freemius/assets/scss/admin/_tooltip.scss
premium-files/includes/freemius/assets/scss/admin/account.css
premium-files/includes/freemius/assets/scss/admin/account.css.map
premium-files/includes/freemius/assets/scss/admin/account.scss
premium-files/includes/freemius/assets/scss/admin/add-ons.css
_inc/freemius/assets/css/admin/deactivation-feedback.css
_inc/freemius/assets/css/admin/license-activation.css
_inc/freemius/assets/img/Square_plus.png
_inc/freemius/assets/img/woosquare.png
_inc/freemius/assets/img/wp-contact-slider.png
_inc/freemius/assets/img/wp-easy-pay.png
_inc/freemius/assets/img/wp-easy-pay-pro.png
_inc/freemius/assets/scss/_colors.scss
_inc/freemius/assets/scss/_functions.scss
_inc/freemius/assets/scss/_load.scss
_inc/freemius/assets/scss/_mixins.scss
_inc/freemius/assets/scss/_start.scss
_inc/freemius/assets/scss/index.php
_inc/freemius/assets/scss/admin/_ajax-loader.scss
_inc/freemius/assets/scss/admin/_auto-install.scss
_inc/freemius/assets/scss/admin/_buttons.scss
_inc/freemius/assets/scss/admin/_deactivation-feedback.scss
_inc/freemius/assets/scss/admin/_gdpr-consent.scss
_inc/freemius/assets/scss/admin/_license-activation.scss
_inc/freemius/assets/scss/admin/_license-key-resend.scss
premium-files/includes/freemius/assets/scss/admin/_auto-install.scss
premium-files/includes/freemius/assets/scss/admin/_buttons.scss
premium-files/includes/freemius/assets/scss/admin/_deactivation-feedback.scss
premium-files/includes/freemius/assets/scss/admin/_gdpr-consent.scss
premium-files/includes/freemius/assets/scss/admin/_license-activation.scss
premium-files/includes/freemius/assets/scss/admin/_license-key-resend.scss
premium-files/includes/freemius/assets/scss/admin/_modal-common.scss
premium-files/includes/freemius/assets/scss/admin/_multisite-options.scss
premium-files/includes/freemius/assets/scss/_mixins.scss
premium-files/includes/freemius/assets/scss/_start.scss
premium-files/includes/freemius/assets/scss/_vars.scss
premium-files/includes/freemius/assets/scss/customizer.css
premium-files/includes/freemius/assets/scss/customizer.css.map
premium-files/includes/freemius/assets/scss/customizer.scss
premium-files/includes/freemius/assets/scss/index.php
premium-files/includes/freemius/assets/scss/admin/_ajax-loader.scss
premium-files/admin/modules/product-sync/views/payment-settings.php
premium-files/includes/freemius/assets/css/admin/deactivation-feedback.css
premium-files/includes/freemius/assets/css/admin/license-activation.css
premium-files/includes/freemius/assets/img/GiveSquare.png
premium-files/includes/freemius/assets/img/Square_plus.png
premium-files/includes/freemius/assets/scss/_colors.scss
premium-files/includes/freemius/assets/scss/_functions.scss
premium-files/includes/freemius/assets/scss/_load.scss
_inc/freemius/languages/freemius-ja_JP.mo
_inc/freemius/languages/freemius-ja_JP.po
_inc/freemius/languages/freemius-nl_NL.po
_inc/freemius/languages/freemius-ru_RU.po
_inc/freemius/templates/all-admin-notice.php
_inc/freemius/templates/billing.php
_inc/freemius/templates/checkout-legacy.php
premium-files/admin/modules/product-sync/callback.php
_inc/freemius/languages/freemius-en.po
_inc/freemius/languages/freemius-es_ES.po
_inc/freemius/languages/freemius-fr_FR.po
_inc/freemius/languages/freemius-he.mo
_inc/freemius/languages/freemius-he.po
_inc/freemius/languages/freemius-he_IL.po
_inc/freemius/languages/freemius-hu_HU.po
_inc/freemius/languages/freemius-it_IT.po
_inc/freemius/assets/scss/admin/dialog-boxes.css
_inc/freemius/assets/scss/admin/dialog-boxes.css.map
_inc/freemius/assets/scss/admin/dialog-boxes.scss
_inc/freemius/assets/scss/admin/gdpr-optin-notice.css
_inc/freemius/assets/scss/admin/gdpr-optin-notice.css.map
_inc/freemius/assets/scss/admin/gdpr-optin-notice.scss
_inc/freemius/assets/scss/admin/index.php
_inc/freemius/languages/freemius-da_DK.po
_inc/freemius/assets/scss/admin/common.css.map
_inc/freemius/assets/scss/admin/common.scss
_inc/freemius/assets/scss/admin/connect.css
_inc/freemius/assets/scss/admin/connect.css.map
_inc/freemius/assets/scss/admin/connect.scss
_inc/freemius/assets/scss/admin/debug.css
_inc/freemius/assets/scss/admin/debug.css.map
_inc/freemius/assets/scss/admin/debug.scss
_inc/freemius/assets/scss/admin/add-ons.scss
_inc/freemius/assets/scss/admin/affiliation.css
_inc/freemius/assets/scss/admin/affiliation.css.map
_inc/freemius/assets/scss/admin/affiliation.scss
_inc/freemius/assets/scss/admin/checkout.css
_inc/freemius/assets/scss/admin/checkout.css.map
_inc/freemius/assets/scss/admin/checkout.scss
_inc/freemius/assets/scss/admin/common.css
_inc/freemius/assets/scss/admin/_subscription-cancellation.scss
_inc/freemius/assets/scss/admin/_themes.scss
_inc/freemius/assets/scss/admin/_tooltip.scss
_inc/freemius/assets/scss/admin/account.css
_inc/freemius/assets/scss/admin/account.css.map
_inc/freemius/assets/scss/admin/account.scss
_inc/freemius/assets/scss/admin/add-ons.css
_inc/freemius/assets/scss/admin/add-ons.css.map
_inc/freemius/assets/scss/_vars.scss
_inc/freemius/assets/scss/customizer.css
_inc/freemius/assets/scss/customizer.css.map
_inc/freemius/assets/scss/customizer.scss
_inc/freemius/assets/scss/admin/_modal-common.scss
_inc/freemius/assets/scss/admin/_multisite-options.scss
_inc/freemius/assets/scss/admin/_plugin-upgrade-notice.scss
